.containerLoader {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.containerLoader.loading .hideWhileLoad {
  display: none !important;
}

.loading .dot-bricks {
  position: relative;
  top: 8px;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #010101;
  color: #010101;
  box-shadow: 9991px -16px 0 0 #010101, 9991px 0 0 0 #010101,
    10007px 0 0 0 #010101;
  animation: dotBricks 2s infinite ease;
}

@keyframes dotBricks {
  0% {
    box-shadow: 9991px -16px 0 0 #010101, 9991px 0 0 0 #010101,
      10007px 0 0 0 #010101;
  }
  8.333% {
    box-shadow: 10007px -16px 0 0 #010101, 9991px 0 0 0 #010101,
      10007px 0 0 0 #010101;
  }
  16.667% {
    box-shadow: 10007px -16px 0 0 #010101, 9991px -16px 0 0 #010101,
      10007px 0 0 0 #010101;
  }
  25% {
    box-shadow: 10007px -16px 0 0 #010101, 9991px -16px 0 0 #010101,
      9991px 0 0 0 #010101;
  }
  33.333% {
    box-shadow: 10007px 0 0 0 #010101, 9991px -16px 0 0 #010101,
      9991px 0 0 0 #010101;
  }
  41.667% {
    box-shadow: 10007px 0 0 0 #010101, 10007px -16px 0 0 #010101,
      9991px 0 0 0 #010101;
  }
  50% {
    box-shadow: 10007px 0 0 0 #010101, 10007px -16px 0 0 #010101,
      9991px -16px 0 0 #010101;
  }
  58.333% {
    box-shadow: 9991px 0 0 0 #010101, 10007px -16px 0 0 #010101,
      9991px -16px 0 0 #010101;
  }
  66.666% {
    box-shadow: 9991px 0 0 0 #010101, 10007px 0 0 0 #010101,
      9991px -16px 0 0 #010101;
  }
  75% {
    box-shadow: 9991px 0 0 0 #010101, 10007px 0 0 0 #010101,
      10007px -16px 0 0 #010101;
  }
  83.333% {
    box-shadow: 9991px -16px 0 0 #010101, 10007px 0 0 0 #010101,
      10007px -16px 0 0 #010101;
  }
  91.667% {
    box-shadow: 9991px -16px 0 0 #010101, 9991px 0 0 0 #010101,
      10007px -16px 0 0 #010101;
  }
  100% {
    box-shadow: 9991px -16px 0 0 #010101, 9991px 0 0 0 #010101,
      10007px 0 0 0 #010101;
  }
}
